html{
  /* overflow: hidden; */
  /* height: 100%; */
}
body{
  font-family: 'Gugi', cursive;
  font-family: 'Noto Sans KR', sans-serif;
}
article,
body,
img,
div,
h1,
h2,
p,
blockquote,
button {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: #000;
}