.container {
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 100px 1fr 100px;
  height: 100%;
  grid-gap: 20px;
  grid-template-areas:
    "header header"
    "side main"
    "footer footer";
}

.header {
  background-color: #111;
  grid-area: header;
}

.aside {
  background-color: #222;
  grid-area: aside;
}

.main {
  background-color: #333;
  grid-area: main;
}

.footer {
  background-color: #444;
  grid-area: footer;
}
